@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent default browser scroll, let the container handle it */
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior-y: none; /* Prevent bounce */
}
